# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.vscode

# R 
*.Rproj
*.Rhistory
*.RData

# claude
.claude

# data
data/mdl_fits
data/raw_old
data/raw/answerset.csv
data/language_tags
data/model/*/fits/
data/glottolog_5.3/
preprocessing/data/delete
.Rproj.user
asjp

# logs
logs/

# rendered outputs
*.html

# analysis
analysis/reanalysis.Rmd
