name: drh-env
channels:
  - conda-forge
dependencies:
  - python=3.11
  - numpy
  - pandas
  - matplotlib
  - scipy
  - statsmodels
  - jupyterlab
  - ipykernel
  - pip
  - pip:
      - seaborn==0.13.2
      - ptitprince==0.3.1
